@import "mixins";

div {
    width: 100%;
}

header {
    width: 100%;
}

#playArea {
    display: block;
    margin: 0 auto;
    background-color: black;
}

#menuArea {
    display: block;
    position: absolute;
    background-color: black;
}

.wrapper {
    font-family: monospace;
    @include center-block(80%);
}